body{
    margin: 0 0 0 0;
}

p{
    margin: 2px;
}


/*divs*/

#bottonOne
{
    top: 120px;

}

#bottonTwo
{
    top: 180px;

}

/*Classes*/

.buttonClass {
    position: absolute;
    left: 50px;
    width: 200px;
    height: 10px;
    opacity: 1;
    z-index: 1;
    margin-top: auto;
}

.text {
    position: absolute;
    background-color: transparent;
    color: white;
    font-size:20px;
    font-family: 'Space Mono', monospace;
    font-weight: 100;
    left: 70px;
    width: 200px;
    height: 10px;
    opacity: 1;
    z-index: 1;
    margin-top: auto;
}

/*Buttons div*/


.button {
    font-size:24px;
    border: none;
    background-color: transparent;
    color: white;
    outline: 0;
    font-family: 'Space Mono', monospace;
}




.button:hover{
   font-weight:bold;

}

/*Text*/

#continentsText {
left: 60px;
}

#populationText {
    top: 150px;
    left: 220px;
}

#gdpText {
    top: 220px;
    left: 220px;
}