body{
    margin: 0 0 0 0;
}

/*divs*/

#bottonOne
{

    top: 20px;

}
#bottonTwo
{

    top: 50px;
}

/*Classes*/

.buttonClass{
    position: absolute;
    left: 50px;
    width: 200px;
    height: 10px;
    opacity: 1;
    z-index: 1;
}

/*Knappar*/

.button {
    font-size:20px;
    border: none;
    background-color: transparent;
    color: white;
    outline: 0;

}

